[*.cs]
indent_style = space
indent_size = 4
csharp_prefer_braces = false:suggestion
csharp_new_line_before_open_brace = allcsharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_expression_bodied_properties = when_on_single_line:suggestion
